@import "sharetech";

:root {
  --text: #000;
  // --primary: #cf0e0e; // old ferrari red, used on white.
  --primary: #c586c0;
  --footer: #f3f3f3;
  --bg: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #d4d4d4;
    --primary: #ce9178;
    --highlight: #d7ba7d;
    --bg: #1e1e1e;
    --footer: #252526;
  }
}

body {
  background: var(--bg);
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  color: var(--text);
  font-size: 20px;
  margin: 0;
}
p,
li {
  line-height: 1.75;
  font-weight: 400;
  letter-spacing: -0.1px;
}
p.small {
  font-size: 0.75em;
}

main,
footer {
  div.container {
    max-width: 1024px;
    margin: auto;
    padding: 2rem;
  }
}

time {
  font-family: "Share Tech";
  font-weight: bold;
}
input,
select {
  font-family: "Share Tech";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Share Tech";
  margin: 0;
  margin-bottom: 0.25em;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.33rem;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

//header
header {
  border-bottom: 0.1rem solid var(--primary);
  font-family: "Share Tech";
  padding: 0.25rem 1rem 0.25rem 1rem;
}
header div.container {
  display: flex;
  flex-direction: row;
  margin: 0;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;

  row-gap: 1rem;
}

header nav.title {
  flex-wrap: nowrap;
  // margin-bottom: 0.5rem;
  display: flex;
  align-items: baseline;
  column-gap: 1rem;
  flex-wrap: wrap;

  a.author {
    display: flex;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: -0.2rem;
    font-family: "Share Tech";
    font-style: italic;
    color: var(--text);
  }

  span.description {
    font-size: 1.33rem;
    color: var(--text);
  }
}

header nav.menu {
  font-size: 1.33rem;
  display: flex;
  ul {
    display: flex;
    // justify-content: center;
    list-style: none;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    align-items: baseline;

    margin: 0;
    padding: 0;
    list-style: none;
    a {
      font-weight: bold;
    }
    a.active,
    a:hover {
      text-decoration: none;
      border-bottom: 0.2rem solid var(--primary);
    }
  }
}

// main
main {
  min-height: 950px;
}
main a {
  font-family: "Share Tech";
  font-weight: bold;
}
main img {
  max-width: calc(100% - 2rem);
  padding: 1rem;
  background: white;
}
main nav.categories {
  font-size: 1.33rem;
}
main aside {
  margin-bottom: 1rem;
  font-family: "Share Tech";
  font-weight: bold;
}

//footer
footer {
  background: var(--footer);
  font-size: 0.9rem;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
}

footer div.spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

footer a {
  font-family: "Share Tech";
  font-weight: bold;
  font-size: 1.1em;
}

footer nav.categories {
  margin-bottom: 1rem;
}

footer nav.tags {
  margin-bottom: 1rem;
}

footer div.about {
  flex: 1;
}

footer div.mailchimp {
  flex: 1;
  max-width: 512px;
  width: 100%;
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    input[type="email"] {
      font-size: 1.5rem;
      flex: 1;
    }
    input[type="submit"] {
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
}

footer div.copyright {
  text-align: center;
  font-family: "Share Tech";
}
