<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}

        {{ end }}
    </title>
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS |
    resources.Minify
    | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">


</head>

<body>
    <header>
        <span class="author">{{ $.Site.Params.author }}</span>
        <span class="description">, {{ $.Site.Params.description }}</span>
        {{ partial "nav.html" . }}
    </header>
    <!-- Code that all your templates share, like a header -->
    <main>
        {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
        {{ end }}
    </main>
    <footer>
        site tags:
        {{ block "footer" . }}
        <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->

        {{ end }}
        <ul>
            {{ range .Site.Taxonomies.tags }}
            <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count
                }}
            </li>
            {{ end }}
        </ul>

    </footer>



</body>

</html>
