<!DOCTYPE html>
<html lang="{{.Lang}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ block "title" . }}
        {{ .Title }} &ndash; {{ .Site.Title }}
        {{ end }}
    </title>
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS |
    resources.Minify
    | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" rel="preload" as="style">
    <link rel="icon" href="{{.Site.BaseURL}}images/favicon.jpg" />
    <link rel="apple-touch-icon" href="{{.Site.BaseURL}}images/favicon.jpg" />
    {{ block "head" . }}
    <meta name="author" content="{{.Site.Copyright}}">
    <meta name="description" content="{{.Site.Params.Description}}">
    <meta property="og:image" content="{{.Site.BaseURL}}{{.Site.Params.image}}" />
    {{ end }}
    <link rel="alternate" type="application/rss+xml" href="{{ .Site.BaseURL }}posts/index.xml" title="{{.Site.Title}}" />
    {{ if .Page.Store.Get "hasMermaid" }}
    <script src="/js/mermaid.min.js"></script>
    <script>
        mermaid.initialize({ startOnLoad: true });
    </script>
    {{ end }}
</head>

<body>
    <header>
        <div class="container">
            {{ partial "header.html" . }}
        </div>
    </header>
    <main>
        <div class="container">
            {{ block "main" . }}
            {{ end }}
        </div>
    </main>
    <footer>
        <div class="container">
            {{ partial "footer.html" . }}
        </div>

    </footer>
    <footer>
        {{partial "copyright.html" .}}

    </footer>
</body>

</html>
