<!DOCTYPE html>
<html lang="{{.Lang}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ block "title" . }}
        {{ if eq .Type "tags" }}
        Entries for Tag {{ .Title }}
        {{ else }}
        {{ .Title }}{{ if eq .Lang "de" }} (Deutsch) {{ end }}
        {{ end }}
        &ndash; {{ .Site.Title }}
        {{ end }}
    </title>
    <link rel="preload" href="/css/tailwind.css" as="style">
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="icon" href="{{.Site.BaseURL}}images/favicon.jpg" />
    <link rel="apple-touch-icon" href="{{.Site.BaseURL}}images/favicon.jpg" />
    {{ block "head" . }}
    <meta name="author" content="{{.Site.Copyright}}">
    <meta name="description" content="{{.Site.Params.Description}}">
    <meta property="og:image" content="{{.Site.BaseURL}}{{.Site.Params.image}}" />
    {{ end }}
    <link rel="alternate" type="application/rss+xml" href="{{ .Site.BaseURL }}posts/index.xml" title="{{.Site.Title}}" />
    <script defer src="https://analytics.eu.umami.is/script.js" data-website-id="6a962e82-7c00-43e3-bf87-f0efd37e1273"></script>
</head>


<body class="font-sans bg-bg text-text print:bg-transparent print:text-black ">

    {{ partial "header.html" . }}
    <main>
        <div class="container grid max-w-screen-xl grid-cols-1 gap-8 px-4 pb-4 mx-auto print:p-0 lg:px-8 sm:grid-cols-4 print:grid-cols-1">

            <div class="border-t-2 sm:col-span-3 print:border-t-0 ">
                {{ partial "print_header.html" . }}
                {{ block "main" . }}
                {{ end }}
            </div>

            <div class="hidden print:hidden sm:block">
                {{ partial "side.html" . }}
            </div>
        </div>
    </main>


    <footer class="bg-footer">
        {{ partial "footer.html" . }}
    </footer>

</body>


</html>
