{{ define "head" }}
{{ partial "meta.html" . }}
{{ end }}

{{ define "main" }}
<main>
    <h1>{{.Title}}</h1>
    {{$section_heading := .Site.GetPage "section" .Section }}
    {{ if eq $section_heading.Title "Blog" }}
    <nav class="categories">
        <strong>Categories: </strong>
        {{ $categories := .Site.Taxonomies.categories }}
        {{ range $categories }}
        <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>({{ .Count}});
        {{ end }}
    </nav>
    {{ end }}

    <article>
        {{.Content}}
    </article>

    {{ with .Params.Pure}}
    {{ else }}
    <h2>Entries</h2>
    <ul>
        <!-- Ranges through content/posts/*.md -->
        {{ range .Pages }}
        <li>
            <a href="{{.Permalink}}">
                {{.Date.Format "2006-01-02"}} |
                {{.Title}}</a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
    {{ partial "translations.html" . }}
</main>

{{ end }}
