{{ define "main" }}
<article class='{{ if .File }}{{.File.Dir }} {{.File.BaseFileName}}    {{ end }}  min-h-screen print:my-0 pt-4 {{partial "prose.html"}}'>
    <h1 class="">{{.Title}}</h1>
    {{$section_heading := .Site.GetPage "section" .Section }}
    {{ if eq $section_heading.Title "Blog" }}
    <nav class="my-4 categories">
        <strong class="font-semibold">Categories: </strong>
        {{ $categories := .Site.Taxonomies.categories }}
        {{ range $categories }}
        <a href="{{ .Page.Permalink }}" class="text-primary hover:text-primary-dark hover:underline">{{ .Page.Title }}</a>({{ .Count }});
        {{ end }}
    </nav>
    {{ end }}


    {{.Content}}


    {{ with .Params.Pure}}
    {{ else }}
    <h2 class="mt-8 mb-4 text-3xl font-semibold">Entries</h2>
    <ul class="mb-4 space-y-2">
        <!-- Ranges through content/posts/*.md -->
        {{ range .Pages }}
        <li class="list-inside ">
            <a href="{{.Permalink}}" class="text-primary hover:text-primary-dark hover:underline">
                <time datetime='{{ .Date.Format "2006-01-02" }}' class="inline-block w-32"> {{.Date.Format "2006-01-02"}}</time>
                |
                {{.Title}}</a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
    {{ partial "translations.html" . }}
</article>
{{ end }}
