{{ define "head" }} {{ partial "meta.html" . }} {{ end }} {{ define "main" }}
{{/* twitter hashtags calculation */}} {{ $keywords := "" }} {{ range (.GetTerms
"tags") }} {{if eq (len $keywords) 0}} {{ $keywords = .LinkTitle }} {{ else }}
{{ $keywords = printf "%s,%s" $keywords .LinkTitle }} {{ end }} {{ end }} {{ if
or (eq .Section "shape-up") (in (split .File.Dir "/") "shape-up") }}
<div class="mb-4 breadcrump">
  <a href="/shape-up" class="text-primary hover:underline">Shape Up</a> &gt;
  <a class="text-text hover:underline" href="{{.Permalink}}">{{ .Title }}</a>
</div>
{{ end }}

<article class='{{.File.Dir }} {{.File.BaseFileName}} print:my-0 grid grid-cols-8 gap-2'>
  <h1 class="col-span-full text-4xl font-bold font-display text-pretty">{{ .Title }}</h1>
  <aside class="col-span-full font-display print:hidden">
    <ul class="flex flex-wrap gap-2">
      <li>
        <span>Published On:</span>
        <time datetime='{{ .Date.Format "2006-01-02" }}'>
          {{ .Date.Format "2006-01-02" }}
        </time>
      </li>
      {{ if ne .Date .Lastmod }}
      <li>
        <span>Last Modified:</span>
        <time datetime='{{ .Lastmod.Format "2006-01-02" }}'>
          {{ .Lastmod.Format "2006-01-02" }}
        </time>
      </li>
      {{ end }} {{if .Params.Social }}
      <li>
        <span>Want to leave a public comment?</span>
        <a href="{{.Params.Social}}" class="text-primary hover:underline" target="_blank">Join the discussion on LinkedIn.</a>
      </li>
      {{ end }} {{ if .Translations }}
      <li>
        <span>Translation:</span>

        {{ range .Translations }}

        <a lang="{{.Lang}}" href="{{ .Permalink }}" class="text-primary hover:underline">
          {{partial "lang.html" .Lang }} {{ .Title }}
        </a>

        {{ end }}
      </li>
      {{ end }} {{if gt (.GetTerms "categories") 0}}
      <li class="flex flex-wrap gap-1">
        <span>Categories:</span>
        <ul class="flex flex-wrap">
          {{ range (.GetTerms "categories") }}
          <li class="after:content-['/'] after:mr-[.5ch] last:after:content-none">
            <a lang="{{.Lang}}" class="text-primary hover:underline" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
          </li> {{ end }}
        </ul>
      </li>
      {{ end }} {{if gt (.GetTerms "tags") 0}}
      <li>
        <span>Tags: </span>
        {{ range (.GetTerms "tags") }}
        <a class="text-primary hover:underline" href="{{ .Permalink }}">{{ .LinkTitle }}</a>; {{ end }}
      </li>
      {{ end }}
    </ul>
  </aside>
  <div class='{{partial "prose.html"}} col-span-full md:col-start-2 md:col-span-6 mt-8'>
    {{ .Content }}
  </div>

  {{/* Gallery section - only show if gallery folder exists with images */}}
  {{ $galleryImages := where (.Resources.Match "gallery/*") "MediaType.MainType" "image" }}

  {{ if $galleryImages }}

  {{ $withExif := where $galleryImages ".Exif.Date" "!=" nil }}
  {{ $withExif = sort $withExif ".Exif.Date" "asc" }}

  {{ $withoutExif := where $galleryImages ".Exif.Date" "==" nil }}
  {{ $withoutExif = sort $withoutExif ".Name" "asc" }}

  {{ $sortedImages := slice }}
  {{ $sortedImages = $sortedImages | append $withExif }}
  {{ $sortedImages = $sortedImages | append $withoutExif }}

  <div class="col-span-full mt-8 md:col-start-2 md:col-span-6">
    <div class="flex flex-wrap gap-1 justify-start">
      {{ range $sortedImages }}
      {{- $resized := .Fit "2000x2000" -}}
      <a href="{{ .Permalink }}" target="_blank" class="block">
        <img src="{{ $resized.RelPermalink }}" alt="{{ .Name }}" />
      </a>
      {{ end }}
    </div>
  </div>

  {{ end }}

  <aside class="col-span-full pt-1 w-max border-t-2 font-display md:col-start-2 md:col-span-6 print:hidden">
    <span>Found a typo?</span>
    <a target="_blank" class="text-primary hover:underline" href="{{.Site.Params.Repo}}{{.File.Dir}}{{.File.BaseFileName}}.{{.File.Ext}}">Make a pull request.</a>
  </aside>
</article>

{{ if or (eq .Section " shape-up") (in (split .File.Dir "/" ) "shape-up" ) }}
<div class="mb-4 text-sm breadcrump">
  <a href="/shape-up" class="text-primary hover:underline">Shape Up</a> &gt;
  <a class="text-text hover:underline" href="{{.Permalink}}">{{ .Title }}</a>
</div>
{{ end }} {{ with .Params.Pure}} {{ else }} {{ end }} {{ end }}
