<div class="text-white copyright bg-footer">
	<div class="container flex items-center justify-between p-4 mx-auto lg:p-8">
		<a class="p-1 border-t-2 hover:text-primary hover:border-primary" href="/">{{$.Site.Copyright }}</a>
		<span class="flex gap-4">
			<a href="{{ .Page.Permalink }}" class="p-1 border-t-2 hover:text-primary hover:border-primary" target="_blank">Permalink</a>
			<a href="{{ .Site.BaseURL }}posts/index.xml" class="p-1 border-t-2 hover:text-primary hover:border-primary" target="_blank">RSS Feed</a>
			<a href="https://www.iubenda.com/privacy-policy/96468474/full-legal" class="p-1 border-t-2 hover:text-primary hover:border-primary" target="_blank">Imprint</a>
		</span>
	</div>
</div>
