<!-- entries-list.html -->
<ul class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
  {{ range .Pages }}
  <li class="flex flex-col overflow-hidden text-lg bg-footer">
    <a href="{{ .Permalink }}" class="grid hover:opacity-75">
      {{ $image := partial "image-url.html" . }}

      <div class="relative aspect-video">
        <img
          src="{{ $image }}"
          alt="{{ .Title }}"
          class="object-cover w-full h-full border border-footer"
        />
        <time
          datetime='{{ .Date.Format "2006-01-02" }}'
          class="absolute px-3 py-1 text-base text-white rounded shadow-sm bg-footer top-2 right-2"
        >
          {{ if eq (.Date.Format "01-02") "01-01" }}
            {{ .Date.Format "2006" }}
          {{ else }}
            {{ .Date.Format "Jan 02, 2006" }}
          {{ end }}
        </time>
      </div>
      <div class="grid justify-between p-2">
        <h3 class="font-bold font-display uppercase text-lg text-primary">
          {{ .Title }}
        </h3>
      </div>
    </a>
  </li>
  {{ end }}
</ul>
