<footer>
    <div class="spacebetween">
        <div class="about">
            <h3>About</h3>
            <p>Hi, I am Klaus Breyer – an independent CTO and software creator
                from
                Berlin.
                I am responsible for technology, teams, and processes since I
                founded my
                first company in 2010 – from fast-moving independent startup
                projects to
                Progressive Web Apps on top of brownfield microservice
                environments.</p>
            <p>Reach me via: <a
                    href="mailto:kb@v01.io?subject=v01.io">E-Mail</a>, <a
                    href="https://www.linkedin.com/in/klaus-breyer/"
                    target="_blank">LinkedIn</a>, <a
                    href="https://twitter.com/klausbreyer"
                    target="_blank">Twitter</a> and <a
                    href="https://facebook.com/klausbreyer"
                    target="_blank">Facebook</a> (sorted by preference).</p>
        </div>
        <div class="mailchimp">
            <h3>Subscribe to my Mailing List</h3>
            <p>If you want to be informed about something significant happening
                here,
                please
                subscribe to my Mailing List.</p>

            {{/* <p>Right now, I plan to not send newsletters very often – only
                for
                essential
                topics.<br>For all the minor updates, feel free to subscribe via
                RSS.
            </p> */}}
            <div id="mc_embed_signup">

                {{/* <h3>Newsletter</h3> */}}
                <form
                    action="
            https://v01.us17.list-manage.com/subscribe/post?u=cfd815a1237e74355cd80711b&amp;id=6be736aa2f&amp;f_id=009b62e0f0"
                    method="post" id="mc-embedded-subscribe-form"
                    name="mc-embedded-subscribe-form" class="validate"
                    target="_self">

                    <input type="email" value="" name="EMAIL"
                        class="required email" id="mce-EMAIL" required="">&nbsp;
                    <input type="submit" value="Subscribe" name="subscribe"
                        id="mc-embedded-subscribe" class="button">

                </form>

            </div>

            <p class="small">(After clicking subscribe your email address is
                submitted to
                MailChimp, the provider I use for my mailinglist. Your email
                address is never sold or shared).</p>
        </div>
    </div>
    <nav class="tags">
        <h3>Blog Tags</h3>
        {{ range .Site.Taxonomies.tags }}
        <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>({{
        .Count
        }});
        {{ end }}
    </nav>

    <nav class="categories">
        <h3>Blog categories</h3>

        {{ $categories := .Site.Taxonomies.categories }}
        {{ range $categories }}
        <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{
        .Count
        }});
        {{ end }}
    </nav>
    <hr />
    <div class="copyright"><b>&copy; {{$.Site.Copyright }}</b> – <a
            href="/pages/contact/">Contact</a></div>
</footer>
