<div class="container p-4 mx-auto lg:p-8 print:hidden">
    <div class="grid grid-cols-1 gap-4 mb-8 sm:grid-cols-2">
        <div class="border-t-2 about">
            <h3 class="mb-2 text-xl ">About</h3>
            <p class="leading-7 ">{{.Site.Params.Description}}</p>
            <p class="leading-7">Reach me via: <a href="mailto:kb@v01.io?subject=v01.io" class="text-primary hover:underline">E-Mail</a> or follow me on
                <a href="https://www.linkedin.com/in/klaus-breyer/" class="text-primary hover:underline" target="_blank">LinkedIn</a> & <a href="https://twitter.com/klausbreyer" class="text-primary hover:underline" target="_blank">Twitter</a>.
            </p>
        </div>
        <div class="border-t-2 ">
            <h3 class="mb-2 text-xl ">Mailing List</h3>
            <p class="mb-2 leading-7">If you want to be informed about something significant happening here, please subscribe to my Mailing List.</p>

            <div id="mc_embed_signup" class="mb-2">
                <form action="https://v01.us17.list-manage.com/subscribe/post?u=cfd815a1237e74355cd80711b&amp;id=6be736aa2f&amp;f_id=009b62e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self">
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required="">&nbsp;
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="px-4 py-2 font-bold text-white rounded cursor-pointer bg-primary button hover:opacity-90">
                </form>
            </div>

            <p class="text-xs">(After clicking subscribe your email address is submitted to MailChimp, the provider I use for my mailinglist. Your email address is never sold or shared).</p>
        </div>
    </div>

    <nav class="mb-8">
        <ul class="flex flex-wrap gap-4 justify-stretch">

            {{ range .Site.Menus.footer }}<li class="border-t-2 grow group hover:border-primary">
                <a href="{{ .URL }}" class=" text-text group-hover:text-primary">{{ .Name }}</a>
            </li>
            {{ end }}


            {{ $categories := .Site.Taxonomies.categories }}
            {{ range $categories }}

            <li class="border-t-2 grow group hover:border-primary">
                <a href="{{ .Page.Permalink }}" class=" text-text group-hover:text-primary"> {{ .Count }} Posts in {{ .Page.Title }}</a>
            </li>
            {{ end }}
        </ul>
    </nav>
</div>
