{{$section_heading := .Site.GetPage "section" .Section }}

<header
    class="container grid max-w-screen-xl grid-cols-1 gap-4 print:gap-0 print:p-0 print:m-0 px-4 pt-2 mx-auto mb-4 lg:px-8"
>
    <a
        lang="en"
        class="text-4xl italic font-bold uppercase sm:text-6xl hover:border-primary hover:text-primary author font-share-tech border-primary text-primary font-sharetech"
        href="/"
    >
        Klaus Breyer
    </a>

    <a
        class="text-2xl description text-text font-sharetech print:text-black"
    >
        <div class="flex flex-col sm:flex-row sm:justify-start sm:items-center">
            <span>B2B SaaS Product & Tech Leadership</span>
            <span class="hidden sm:block">&nbsp;-&nbsp;</span>
            <span>Move Fast And Break Silos!</span>
        </div>
    </a>
    <ul class="flex flex-wrap gap-x-2 print:hidden">
        {{ range .Site.Menus.header }}
        <li class="flex gap-1 text-lg font-sharetech font-bold">
            <span class="text-text">&rsaquo;</span>
            <a
                lang="en"
                class="hover:underline text-primary"
                href="{{ .URL }}"
            >
                {{.Name}}
            </a>
        </li>
        {{ end }}
    </ul>
</header>
