{{$section_heading := .Site.GetPage "section" .Section }}

<header class="print:hidden">
    <div class="container px-4 py-2 mx-auto lg:px-8">
        <div class="mb-4 text-right">
            <a class="px-1 py-0.5 text-lg italic text-white open hover:underline bg-dark" href="/#connect-with-me">
                Available for Tech & Product Leadership Gigs!
            </a>
        </div>

        <nav class="flex flex-col gap-4">
            <div>
                <a lang="en" class="text-4xl italic font-bold uppercase sm:text-6xl hover:border-primary hover:text-primary author font-share-tech border-primary text-primary font-sharetech" href="/">
                    Klaus
                    Breyer
                </a>
            </div>
            <div>
                <a class="text-xl sm:text-3xl md:text-4xl description text-text font-sharetech">
                    Tech Leadership, Product Delivery & Startup Strategy.
                </a>
            </div>
        </nav>



    </div>
</header>
