<!-- sidebar start -->
<aside>
    <ul>
        {{ $categories := .Site.Taxonomies.categories }}
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <li class="{{ if $currentPage.HasMenuCurrent " main" . }}active{{ end
            }}">
            <a href="#">
                {{ .Pre }}
                <span>{{ .Name }}</span>
            </a>
        </li>
        <ul class="sub-menu">
            {{ range .Children }}
            <li class="{{ if $currentPage.IsMenuCurrent " main" . }}active{{ end
                }}">
                <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}

        </ul>
        {{ else }}
        <li>
            <a href="{{ .URL }}">
                {{ .Pre }}
                <span>{{ .Name }}</span>
            </a>
        </li>
        {{ if eq .Name "Blog" }}
        <ul>
            {{ range $categories }}
            <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count
                }}
            </li>
            {{ end }}
        </ul>
        {{ end }}
        {{ end }}
        {{ end }}

    </ul>
</aside>
