<div id="mc_embed_signup" class="mb-2">
	<form action="https://v01.us17.list-manage.com/subscribe/post?u=cfd815a1237e74355cd80711b&amp;id=6be736aa2f&amp;f_id=009b62e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="flex flex-wrap gap-2 validate " target="_self">
		<input type="email" value="" name="EMAIL" class="rounded required email grow max-w-72 text-footer font-sharetech" id="mce-EMAIL" required="">
		<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="px-4 py-2 font-bold text-white rounded cursor-pointer bg-primary button hover:opacity-90">
	</form>
</div>
