<div id="mc_embed_signup" style="border:1px dashed black; padding: 2em;">
    <div style="margin: auto; max-width: 680px;">
        <h3>Newsletter</h3>
        <form
            action="https://v01.us17.list-manage.com/subscribe/post?u=cfd815a1237e74355cd80711b&amp;id=6be736aa2f&amp;f_id=009b62e0f0"
            method="post" id="mc-embedded-subscribe-form"
            name="mc-embedded-subscribe-form" class="validate" target="_self"
            style="display: flex;flex-wrap: wrap;justify-content: space-between;">

            <input type="email" value="" name="EMAIL" class="required email"
                id="mce-EMAIL" required="" style="font-size: 1em;flex: 0.9;">
            <input type="submit" value="Subscribe" name="subscribe"
                id="mc-embedded-subscribe" class="button"
                style="font-weight: bold;font-size: 1em;">

        </form>
        <p> After clicking
            subscribe,
            your email address is
            submitted to MailChimp, the provider I use for my mailinglist.
            Your
            email address is never sold or shared.</p>
        <p></p>
    </div>
</div>
