
{{/* https://tailwindcss.com/docs/typography-plugin */}} max-w-none prose
text-base prose-invert prose-headings:text-text print:prose-headings:text-bg
prose-headings:font-display prose-h2:text-2xl prose-headings:font-normal
prose-headings:mb-0 prose-headings:mt-6 prose-h1:mt-0 

print:prose-em:text-white prose-p:text-text prose-p:my-2 print:prose-p:text-bg
prose-p:font-light prose-ol:my-1.5 prose-ol:text-text print:prose-ol:text-bg
prose-ul:my-1.5 prose-ul:text-text print:prose-ul:text-bg prose-li:text-text
print:prose-li:text-bg prose-li:font-light prose-strong:text-text prose-li:my-0
print:prose-strong:text-bg prose-strong:font-bold prose-code:font-normal
prose-code:bg-footer2 prose-a:text-primary prose-a:no-underline
hover:prose-a:underline prose-a:font-light prose-img:my-0 prose-img:border
prose-img:border-text marker:text-text print:marker:text-bg

pose-blockquote:bg-footer prose-blockquote:my-0 prose-blockquote:py-0

prose-hr:border-1 prose-hr:border-text prose-hr:my-8