{{/* https://tailwindcss.com/docs/typography-plugin */}}
prose prose-invert lg:prose-xl
prose-headings:text-text print:prose-headings:text-bg prose-headings:font-sharetech prose-headings:font-bold prose-headings:mb-0 prose-headings:mt-8
prose-em:not-italic prose-em:font-sharetech prose-em:text-text prose-em:bg-dark prose-em:py-0.5 prose-em:px-1 print:prose-em:text-white
prose-p:text-text prose-p:my-1.5 print:prose-p:text-bg
prose-ol:my-1.5 porse-ol:text-text print:prose-ol:text-bg
prose-ul:my-1.5 porse-ul:text-text print:prose-ul:text-bg
porse-li:text-text print:prose-li:text-bg
porse-strong:text-text print:prose-strong:text-bg
prose-a:text-primary prose-a:no-underline hover:prose-a:underline
prose-img:my-0
marker:text-text
print:marker:text-bg
