<div class="pl-4 border-l-2 border-primary">
	<div class="h-1"> &nbsp;</div>
	<ul class="-mt-2 space-y-3 ">

		{{ range .Site.Menus.side }}

		<li class="">
			<a href="{{ .URL }}" class="font-bold text-text hover:text-primary">
				<span class="text-primary">&rsaquo;</span> {{ .Name }}
			</a>
		</li>
		{{ end }}

		{{ range first 10 (where .Site.RegularPages "Type" "posts") }}

		<li class="">
			<a class=" hover:text-primary" href="{{ .Permalink }}">
				{{/* {{ .Date.Format "2006-01-02" }} | */}}
				{{ .Title }}</a>
		</li>

		{{ end }}

	</ul>
</div>
