<ul class="grid grid-cols-3 gap-4 sm:grid-cols-1 ">
	{{ range .Site.Menus.header }}
	<li class="flex w-full">
		<a lang="en" class="block w-full font-bold border-t-2 group hover:border-primary text-xlfont-sharetech hover:text-primary colspan author font-share-tech" href="{{ .URL }}">
			{{.Name}}
		</a>
	</li>
	{{ end }}

	{{ range .Site.Menus.side }}

	<li class="border-t-2 grow group hover:border-primary">
		<a href="{{ .URL }}" class="font-bold text-text group-hover:text-primary">{{ .Name }}</a>
	</li>
	{{ end }}



	{{ range first 10 (where .Site.RegularPages "Type" "posts") }}

	<li class=" group hover:border-primary">
		<a class=" group-hover:text-primary" href="{{ .Permalink }}">{{ .Date.Format "2006-01-02" }} | {{ .Title }}</a>
	</li>

	{{ end }}
</ul>
