<script src='/js/plotly-2.18.0.min.js'></script>
<div id='hackernewsstats'></div>

<aside>
    <b>Filter:</b>

    <label for="original"> <input class="hackernews-categories" type="checkbox"
            value="original" name="original" id="original" checked />original
    </label>
    <label for="generic"> <input class="hackernews-categories" type="checkbox"
            value="generic" name="generic" id="generic" checked />generic
    </label>
    <label for="sponsored"> <input class="hackernews-categories" type="checkbox"
            value="sponsored" name="sponsored" id="sponsored"
            checked />sponsored </label>
    <label for="country"> <input class="hackernews-categories" type="checkbox"
            value="country" name="country" id="country" checked />country
    </label>
    <label for="geographic"> <input class="hackernews-categories"
            type="checkbox" value="geographic" name="geographic" id="geographic"
            checked />geographic </label>
    <label for="brand"> <input class="hackernews-categories" type="checkbox"
            value="brand" name="brand" id="brand" checked />brand </label>
    <label for="special"> <input class="hackernews-categories" type="checkbox"
            value="special" name="special" id="special" checked />special
    </label>

</aside>
<aside>
    <b>Aggregate: </b>
    <select id="hackernewsstats-groupnorm">
        <option value="percent">Percentage</option>
        <option value="">Absolute number</option>
    </select>
    <select id="hackernewsstats-aggregation">
        <option value="counts">of yearly Counts</option>
        <option value="scores">of yearly Scores</option>
    </select>
</aside>

<script>


    const x = [2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014]
    const threshold = 1000;

    let categories = getCategories();
    document.querySelectorAll('.hackernews-categories').forEach(item => {
        item.addEventListener('change', event => {
            categories = getCategories();
            paint();
        })
    })
    function getCategories() {
        const checked = Array.from(document.querySelectorAll('.hackernews-categories')).filter(item => item.checked)
        return checked.map(item => item.value)
    }

    let aggregation = document.querySelector('#hackernewsstats-aggregation').value
    document.querySelector('#hackernewsstats-aggregation').addEventListener('change', (event) => {
        aggregation = event.target.value
        paint();
    });

    let groupnorm = document.querySelector('#hackernewsstats-groupnorm').value
    document.querySelector('#hackernewsstats-groupnorm').addEventListener('change', (event) => {
        groupnorm = event.target.value
        paint();
    });

    async function fetchJson() {
        const response = await fetch('/js/hackernewsstats.json');
        const data = await response.json();
        return data;
    }

    function transform(data) {
        function sortBySum(a, b) {
            if (sum(a.y) < sum(b.y)) {
                return -1;
            }
            if (sum(a.y) > sum(b.y)) {
                return 1;
            }
            // a must be equal to b
            return 0;
        }
        function sum(arr) {
            return arr.reduce((a, b) => {
                return a + b;
            }, 0);
        }

        const filtered = data.filter(r => categories.find(c => c === r.category))
        console.log(filtered)
        const traces = filtered.map(r => ({
            name: r.ending,
            stackgroup: "one",
            x,
            groupnorm,
            y: aggregation === "scores" ? r.scores : r.counts
        }))
        const cleaned = traces.filter(t => sum(t.y) > 1)
        const ordered = cleaned.slice().sort(sortBySum)
        return ordered
    }

    const text = getComputedStyle(document.documentElement)
        .getPropertyValue('--text');
    const bg = getComputedStyle(document.documentElement)
        .getPropertyValue('--bg');
    const highlight = getComputedStyle(document.documentElement)
        .getPropertyValue('--highlight');
    const layout = {
        paper_bgcolor: bg,
        plot_bgcolor: bg,
        font: {
            color: text,
            family: "-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell,Ubuntu, roboto, noto, arial, sans- serif;"
        },
        xaxis: {
            gridcolor: highlight
        },
        yaxis: {
            gridcolor: highlight
        },
    };

    async function paint() {
        const data = await fetchJson();
        const transformed = transform(data)
        Plotly.newPlot('hackernewsstats', transformed, getLayout());
    }
    paint()

    function getLayout() {
        const text = getComputedStyle(document.documentElement)
            .getPropertyValue('--text');
        const bg = getComputedStyle(document.documentElement)
            .getPropertyValue('--bg');
        const highlight = getComputedStyle(document.documentElement)
            .getPropertyValue('--highlight');
        const layout = {
            paper_bgcolor: bg,
            plot_bgcolor: bg,
            font: {
                color: text,
                family: "-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell,Ubuntu, roboto, noto, arial, sans- serif;"
            },
            xaxis: {
                gridcolor: highlight
            },
            yaxis: {
                gridcolor: highlight
            },
        };
        return layout
    }
</script>
<hr />
